//定义变量--抽离主题色, 注意 !default的使用；
$primary: #409eff !default;
$success: #00d100 !default;
$warning:#e6a23c;
$danger: #f56c6c;

//按钮与按钮之间距
$button-spance: 14px !default;
//按钮圆角
$button-round: 4px !default;

.a-button {
    //默认样式
    padding: 0 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdfe6;
    border-radius: $button-round;
    background-color: #fff;
    font-size: 14px;
    color: #606266;
    height: 40px;

    +.a-button {
        margin-left: $button-spance;
    }

    >span {
        //弹性布局--使icon水平线一致
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        width: 14px;
        height: 14px;
    }

    .icon-perfix {
        margin-right: 10px;
    }

    .icon-suffix {
        margin-left: 10px;
    }
}

.a-button-medium {
    //size中型
    height: 36px;
}

.a-button-small {
    //size小型
    padding: 0 15px;
    height: 32px;
    font-size: 12px;

    .icon-perfix {
        margin-right: 5px;
    }

    .icon-suffix {
        margin-left: 5px;
    }
}

.a-button-mini {
    //size迷你型
    padding: 0 15px;
    height: 28px;
    font-size: 12px;

    .icon-perfix {
        margin-right: 5px;
    }

    .icon-suffix {
        margin-left: 5px;
    }
}

.a-button[disabled] {
    //禁用样式
    opacity: 0.5;
    cursor: not-allowed;
}

.a-button-primary {//#409eff
    background-color: $primary;
    border-color: $primary;
    color: #fff;

    &.is-border {
        //边框样式
        background-color: transparent;
        color: $primary;
    }
}

.a-button-success { //#00d100
    background-color: $success;
    border-color: $success;
    color: #fff;

    &.is-border {
        background-color: transparent;
        color: $success;
    }
}

.a-button-warning { //#e6a23c
    background-color: $warning;
    border-color: $warning;
    color: #fff;

    &.is-border {
        background-color: transparent;
        color: $warning;
    }
}

.a-button-danger { //#f56c6c
    background-color: $danger;
    border-color: $danger;
    color: #fff;

    &.is-border {
        background-color: transparent;
        color: $danger;
    }
}


/**圆角*/
.is-round {
    //圆角样式
    border-radius: 100px;
}

/*块级block*/
.a-button-block {
    display: block;
    width: 100%;
}

/*加载效果*/
.icon-jiazai1 {
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}